start_party_mode:
  description: Starts the party mode for a limited time.
  fields:
    entity_id:
      name: "Helios Device"
      description: "Device to set the party mode"
      example: "fan.helios"
      default: "fan.helios"
      required: true
      selector:
        entity:
          filter:
            integration: easycontrols
            domain: fan
    speed:
      name: "Fan Speed"
      description: "The speed of the party mode. Set to None to keep the previously set value."
      selector:
        select:
          options:
            - label: Fan Stage 1
              value: basic
            - label: Fan Stage 2
              value: rated
            - label: Fan Stage 3
              value: intensive
            - label: Fan Stage 4
              value: maximum
    duration:
      name: "Duration"
      description: "The duration of the party mode. Set to None to keep the previously set value."
      example: 60
      default: 60
      selector:
        number:
          min: 5
          max: 180
stop_party_mode:
  description: Stops the party mode.
  fields:
    entity_id:
      name: "Helios Device"
      description: "Device to set the party mode"
      example: "fan.helios"
      default: "fan.helios"
      required: true
      selector:
        entity:
          filter:
            integration: easycontrols
            domain: fan
